build/
.dart_tool/
.packages
pubspec.lock
**/doc/API/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.iml
*.ipr
*.iws
.idea/
.classpath
.project
.settings/
.vscode/
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew.bat
**/android/gradlew
**/android/local.properties
**/android/key.properties
*.jks
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig